<div>
    <br />
    <br />

    <h3 class="text-center">
        Welcome to <a href="/">ASHFAQPRODUCTS</a> Instruments
    </h3>
    <br />

    <p class="text-center">
        <a href="/" class="text-lowercase">ASHFAQPRODUCTS</a> was established with out clients in mind. This page isn’t about us its about you. We solely developed this business to fulfil a shortage in the market for beauty instruments. Whatever your requirements are you can rely on <a href="/" class="text-lowercase">ASHFAQPRODUCTS</a> to fulfil your needs. We will sit down with you; take the time to understand what your requirements are as a person and also as a business.
    </p>
    <br />
    <br />

    <p class="text-center" >
        We are manufacturers, exporters and wholesalers of beauty instruments, which are being used in beauty salons and hairdressing outlets. We are a Melbourne based business which places our clients in the forefront of everything we do. What makes our business strive is ascertaining our client’s needs and being able to deliver on them. All our instruments are individually hand crafted for all your needs. Whether it’s for your hair, nails, feet we have all your beauty needs covered. Ranging from your needs to your favourite four-legged friend.
    </p>

</div>