<div>
    <h3 class="text-center form-inline">
        Why Choose Us?
    </h3>

    <p class="text-center">
        <a href="/" class="text-lowercase">ASHFAQPRODUCTS</a>  is Solely a Family owned wholesaling business. We are in the business of providing solutions to our esteemed clients. We developed this family operated business so we could minimise the risk entailed for our clients when participating in business transactions.
    </p>
    <p class="text-center">
        Our competitive advantage being we can tailor any product to your exact specifications. When dealing with our family operated Business you are dealing directly with the business owners and exporters. There are no middlemen involved. Manufactured and delivered directly to you. We place the solutions at your fingertips.


    </p>
</div>