@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>


<address>
    Daska Road,Sialkot<br />
    AshfaqProducts(pvt)<br />
    <abbr title="Phone">P:</abbr>
    +92-303-858-5987
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">ashfaqproducts09@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">ali.faiz4353@gmail.com</a>
</address>
