<div>
    <h3 class="text-center">
        Privacy Policy
    </h3>
    <p class="text-center">
        Devine Instruments own and operate this website (the “Devine Instruments”). We have created this Privacy Policy to let you know what information we may collect from you on the Site and how we may use that information. Please take a moment to review the terms of our Privacy Policy. By using the Site, you agree to accept the terms of our Privacy Policy. If you do not agree to the terms of this Privacy Policy, please do not use the Site. This Privacy Policy applies only to information collected on the Site and does not apply to information which we may collect by other means. This Site and the products described on this Site are intended for use by beauty professionals and distributors of beauty care products and also for personal, family or household use. 
    </p>
</div>

<div>
    <h3 class="text-center">
        Personal Information
    </h3>
    <p class="text-center">
        We May collect you are not required to provide any personal information in order to obtain general access to the Site. However, in order to access certain information, services or features contained on the Site, we may require you to provide personal information such as your name, e-mail address, mailing address, phone number and your occupation within the beauty profession or trade. For example, we will collect certain personal information if you choose to request product literature, subscribe to our mailing list or an online newsletter, request notification of special offers, or send questions or comments to us via e-mail. We may ask that you provide your name and address if you ask us a question, as the answer may depend on where you live.
    </p>
</div>

<div>
    <h3 class="text-center">
        How we  may use your information
    </h3>

    <p class="text-center">
        If you provide us with personal information, we may retain and use that information for several purposes. For example, we may use your personal information in order to process and fulfill your requests, such as delivering product literature that you request or responding to your questions. We may also use personal information to ensure compliance with our policies and applicable law. In addition, we may send you periodic communications by e-mail or regular mail if you do not opt out of receiving them. For example, we may provide you with special offers or information on our products. If you wish to opt out of receiving communications from us at any time, we give users the following options for doing so: * You can email us your request to info@devineinstruments.com Please put the words “Opt-Out” in the Subject of your email to us.
    </p>
</div>

<div>
    <h3 class="text-center"> Disclosure Of Personal Information</h3>

    <p class="text-center">
        we may sometimes use other businesses to perform certain services for us, such as delivering product literature, sending postal mail and providing marketing assistance and data analysis. We may provide personal information to those businesses when that information is necessary for them to complete a requested transaction or otherwise perform their duties. In addition if you have not opted-out of receiving e-mails from us, we may sometimes share your personal information with our affiliates in the Devine Instruments. May contact you with information about products or services that we believe will be of interest to you. Except as provided in this Privacy Policy, we will not share your personal information with any third parties.
    </p>
</div>

<div>
    <h3 class="text-center"> As Devine Instruments Develops</h3>

    <p class="text-center">
        We may buy other businesses or their assets or sell our business assets. Customer information is generally one of the business assets involved in such transactions. Thus, in the event that Devine Instruments or all of its assets are acquired, customer information would be one of the transferred assets. Finally, we reserve the right to disclose visitor information in special cases when we have reason to believe that disclosing this information is necessary to identify, contact or bring legal action against someone who may be causing injury to or interference with (either intentionally or unintentionally) our rights or property, other visitors, or anyone else that could be harmed by such activities. This includes our right to exchange information with other organizations in order to protect against fraud. We also reserve the right to disclose visitor information when we believe in good faith that the law requires it.
    </p>
</div>

<div>
    <h3 class="text-center"> Aggregate Information</h3>

    <p class="text-center">
        From time to time, we may collect general, non-personal, statistical information about the use of the Site, such as how many visitors visit a specific page on the Site, how long they stay on that page, and which hyperlinks, if any, they “click” on. We collect this information through the use of technologies such as “cookies” and “IP addresses”, which are discussed in greater detail below. We collect this information in order to determine which areas of the Site are most popular and to enhance the Site for visitors. We may also group this information into aggregate visitor data in order to describe the use of the Site to our existing or potential business partners, sponsors, advertisers or other third parties, or in response to a government request. However, please be assured that this aggregate data will in no way personally identify you or any other visitors to the Site.
    </p>
</div>


