<div>
    <h3 class="text-center">
        Website and General
    </h3>
    <p class="text-center">
        By accessing this site, you agree to the following terms and conditions and other applicable law. If you do not agree to be bound by these terms and conditions, please do not use this site. All the information, contents, text including but not limited to html code, photography and buttons but excluding images is the property of Devine Instruments and may not be copied, reproduced, republished, posted, transmitted or distributed in any way without our express, advance, written consent.

        All trademarks used or referred to in this site are the property of their respective owners. No judgment or warranty is made with respect to such other services or sites and takes no responsibility for such sites or services. A link to another site or service is to an endorsement of that site or service. Any use you make of the information provided on this site, or any site or service linked by this site, is at your own risk.

        In no event shall any of its employees or contractors be liable for any damages whatsoever in connection with the information or material on this web site, including but not limited to actual, consequential, direct, exemplary, incidental, indirect, punitive or special damages.
    </p>
</div>

<div>
    <h3 class="text-center">Terms and Conditions of Sale</h3>
    <p class="text-center">
        These Terms and Conditions shall apply to all products and services supplied by the company whether these be dispatched by the company or by the supplier directly to the customer. The price to be paid by the customer shall be the sum shown on the company’s invoices. The company reserves the right to amend prices at any time in its absolute discretion and to correct errors and omissions.
        Where customers have credit accounts, unless specifically agreed by contract and in writing, all products must be paid for 30 days after the date of invoice. Products dispatched to the customer directly from the manufacturer may incur carriage. Prices are exclusive of carriage, which is charged according to the item.We reserve the right to alter or withdraw any of the products or services at any time without prior notice.The company reserves the right to use credit reference agencies.
    </p>
</div>

<div>
    <h3 class="text-center"> Delivery</h3>
    <p class="text-center">
        Delivery dates specified by the company are approximate and failure to meet it shall not be the responsibility of the company.The customer shall make all arrangements necessary to take delivery of products whenever they are tended for delivery. Failure to accept same may result in additional carriage charges being levied on the customer. All equipment deliveries will incur a charge unless otherwise stated.

        Should damaged and/or short deliveries occur, Devine Instruments should be notified within two working days by telephone and confirmed in writing within seven days. Please inspect deliveries while drivers are there for both damage or shortages of products. Failure to do so will leave you with no recourse. Devine Instruments can dispatch products direct to wholesalers. Trade discount allowed may be reduced for direct sending.
    </p>
</div>

<div>
    <h3 class="text-center">Returned Products</h3>
    <p class="text-center">
        Products cannot be returned to the company unless this return has been notified to the company and a goods return number has been obtained. All products returned should be accompanied by the Buyer’s account number and the number of the invoice on which the products were supplied. A credit note cannot be issued if the original invoice cannot be traced. Products being returned to the company which are subsequently damaged or lost in transit, will not be credited by the company as it is deemed to be the customers responsibility to ensure that the products are returned (at their cost) adequately packaged, labelled and insured.

        If a customer orders products in error or if the customer asks the company to obtain special products that the company would not normally stock and then wishes to return these to us, the products cannot be returned and no credit will be given.All sterile and/or goods with a product license cannot be accepted for credit if the seal or outer packaging has been damaged or removed. All equipment including hand pieces can only be returned for full credit if complete in the original packaging and unused and in a re-sealable condition.
    </p>
</div>

<div>
    <h3 class="text-center">Prices and Payment</h3>
    <p class="text-center">
        Title of products supplied by the company to the customer shall only pass to the customer when payment in full has been made to the company. The customer agrees to repossession of the products in question should the customer fail to pay for the products.
    </p>
</div>

<div>
    <h3 class="text-center">Warranties</h3>
    <p class="text-center">
        In the unlikely event that you should experience problems with our equipment, you must contact us directly, stating the date of the purchase, serial number and the nature of the problem. The more specific you can be the sooner we may be able to identify the problem and give you the support you require.  After contacting us, if the problem cannot be solved by phone/email you will be asked to return the item to us at your expense, suitably packaged to avoid further damage in transit. We will either arrange to repair or replace the item in line with the manufacturer’s warranty. If found to be defective under warranty, all expenses will be credited.
        Subject expressly provided in these conditions the company will honour all manufacturers’ warranties that apply to those products supplied by the company, subject to the proper use of these products by the customer. Where products have been misused or improperly operated by the customer the company reserves the right to charge for any service visits associated with these products.Improper operation or use of products under warranty will void all warranties applying to the products.

        The company shall not in any event be liable for indirect to consequential loss or damage, being loss or damaged which does not directly and naturally flow from the supply of products or materials, including without limitation loss of profits, of use, overhead costs, collateral damage or of contracts arising out of the supply or failure of supply of products and services by the company (other than liability for the death or personal injury resulting from negligence of the company) and whether arising from breach of contract, negligence or for any other liability howsoever arising, whether by statute or otherwise.

        In all other cases (being cases of direct and natural losses or damage) it is specifically provided and agreed that the compensation of damages payable shall not under any circumstances amount in aggregate to more than the contract price or the products and or services forming the subject of the claim. No liability for such direct losses shall attach to the company unless details of such losses have been notified to the company in writing within 7 working days of the date of delivery of the products/service in question.

        For the avoidance of doubt, nothing in this agreement shall confer on any third party any benefit or the right to enforce any term of this agreement.These Terms and Conditions and the rights and obligations of the parties to the contract shall be governed, interpreted and construed solely in accordance with the Laws of Australia. We reserve the right to withhold warranty on overdue accounts.Note the following are expressly excluded from warranty claims: Damage from incorrect set up or installation Damage from faulty power supply Damage caused by incorrect PAT testing of units Damage caused by not following user instructions Damage from misuse Damage from and/or disassembling the unit Damage from improper repairs or modifications not carried out by Devine Instruments authorized personnel Updated December 2014.
    </p>
</div>